.box{
    width: 300px;
    height: 300px; 
    background: red; 
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin: 30px;
}

.boxFadeTo{
    width: 300px;
    height: 300px; 
    background: blue; 
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin: 30px;
}

.product-showcase-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.product-showcase{
    border: 1px solid #dedede;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    min-height: 600px;
    border-radius: 10px;
}

.product-showcase img{
    width: 100%;
}

#options{
    display: flex;
    gap: 30px;
    margin-top: 30px;
 }
 #options li{
    list-style: none; 
 }
 #options li a{
    cursor: pointer;
    text-decoration: none;
    padding: 30px;
    border-radius: 30px;
    font-size: 0;
 }
 #options li .blue{
    background: blue;
 }
 #options li .red{
    background: red;
 }
 #options li .cream{
    background: lightgoldenrodyellow;
 }
 #options li .black{
    background: black;
 }
 #options li .orange{
   background: orange;
}

.whatsapp-button{
   position: fixed;
   bottom: 30px;
   right: 30px;
}

.whatsapp-button .bi-whatsapp{
   font-size: 48px;
   color: green;
}